<section class="progress_area">
    <div class="container box_1620">
        <div class="main_title">
            <h2>Arrengement in progress</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        </div>
        <div class="row progress_inner">
            <div class="col-lg-3">
                <div class="progress_item">
                    <img class="img-fluid" src="../../../assets/img/progress/progress-1.png" alt="">
                    <div class="progress_text">
                        <a href="#"><h4>Wedding Ceremony</h4></a>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace.</p>
                        <div class="date">
                            <a href="#">Date:  Friday, 20 May 2018</a>
                            <a href="#">Time:  19.00</a>
                            <a href="#">Address:  Rocky Beach, Los angeles, USA</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="progress_item">
                    <div class="progress_text">
                        <a href="#"><h4>Lunch Preparations</h4></a>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace.</p>
                        <div class="date">
                            <a href="#">Date:  Friday, 20 May 2018</a>
                            <a href="#">Time:  19.00</a>
                            <a href="#">Address:  Rocky Beach, Los angeles, USA</a>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/progress/progress-2.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="progress_item">
                    <img class="img-fluid" src="../../../assets/img/progress/progress-3.png" alt="">
                    <div class="progress_text">
                        <a href="#"><h4>Wedding Cake Cutting</h4></a>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace.</p>
                        <div class="date">
                            <a href="#">Date:  Friday, 20 May 2018</a>
                            <a href="#">Time:  19.00</a>
                            <a href="#">Address:  Rocky Beach, Los angeles, USA</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="progress_item">
                    <div class="progress_text">
                        <a href="#"><h4>Wedding Party</h4></a>
                        <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace.</p>
                        <div class="date">
                            <a href="#">Date:  Friday, 20 May 2018</a>
                            <a href="#">Time:  19.00</a>
                            <a href="#">Address:  Rocky Beach, Los angeles, USA</a>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../assets/img/progress/progress-4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>