<section class="journey_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Our Love Journey</h2>
            <p>there is no </p>
        </div>
        <div class="row journey_inner">
            <div class="col-lg-3">
                <div class="journey_image_items">
                    <div class="journey_item">
                        <img class="img-fluid" src="../../../assets/img/journey/journey-1.jpg" alt="">
                        <h4>Abbie Norman</h4>
                        <p>Sister</p>
                    </div>
                    <div class="journey_item">
                        <img class="img-fluid" src="../../../assets/img/journey/journey-2.jpg" alt="">
                        <h4>Bess Wolfe</h4>
                        <p>Cousine</p>
                    </div>
                    <div class="journey_item">
                        <img class="img-fluid" src="../../../assets/img/journey/journey-3.jpg" alt="">
                        <h4>Mathilda Moss</h4>
                        <p>Neighbour</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="journey_text_items">
                    <div class="journey_item">
                        <h4>Love at first sight</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
                    </div>
                    <div class="journey_item">
                        <h4>First Kissing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
                    </div>
                    <div class="journey_item">
                        <h4>Living Together</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
                    </div>
                    <div class="journey_item">
                        <h4>Cherished Proposal</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="journey_image_items">
                    <div class="journey_item">
                        <img class="img-fluid" src="../../../assets/img/journey/journey-4.jpg" alt="">
                        <h4>Blake Hunter</h4>
                        <p>Brother</p>
                    </div>
                    <div class="journey_item">
                        <img class="img-fluid" src="../../../assets/img/journey/journey-5.jpg" alt="">
                        <h4>Norman Ramsey</h4>
                        <p>Cousine</p>
                    </div>
                    <div class="journey_item">
                        <img class="img-fluid" src="../../../assets/img/journey/journey-6.jpg" alt="">
                        <h4>Tommy Phillips</h4>
                        <p>Neighbour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>